@import "tailwindcss";

body {
  font-family: 'Quicksand', sans-serif;
  background: rgb(254, 251, 251)
}

.gradient-btn {
  background: linear-gradient(90deg, #6BCB77, #FFD166, #EF476F);
  background-size: 300% 300%;
  transition: background-position 0.7s ease-in-out;
}

.gradient-btn:hover {
  background-position: right center;
}